@import "../../assets/style/vars";

.Medecin {
    h1 {
        text-align: center;
        font-size: 36px;
    }

    .patientItem {
        color: $color_primary;
        border: 2px solid $color_primary;
        margin-bottom: 15px;
        border-radius: 3px;
        width: 595px;
        padding: 15px;

        .title {
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .number {
            margin-bottom: 0;
            opacity: .7;
        }
    }

    .ant-layout-sider {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 24px;
        position: sticky;
        height: 100vh;
        top: 0;

        .ant-btn {
            margin-top: auto;
        }

        h1, h2 {
            font-weight: 700;
            color: #fff;
        }

        h1 {
            font-size: 64px;
        }

        h2 {
            font-size: 36px;
        }
    }
}
